<div class="container">
  <div class="row" id="main-content">
    <div class="col-sm-12 col-lg-12">
      <% @cards.each do |card| %>
        <%= render 'card', card: card %>
      <% end %>
    </div>
    
  </div>
</div>