<!DOCTYPE html>
<html>
<head>
   <style type="text/css" link="css/print.css"></style>  
   <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
   <style type="text/css">
   		*{margin:0; padding:0;}
   </style>
</head>
<body>

 <% @cards.each do |card| %>
       <%= wicked_pdf_image_tag card.photo, :style=>"margin:0px;padding:0px", :width=>"250", :height=>"200" %>

        <span class="title" style="font-family: 'Roboto Condensed'; text-align: center; font-size: 13pt;
	color:green;
	clear:both;"><%= card.name %></span>
	<br>
	<br>
       <span style="font-family: 'Open Sans'; font-size:11pt;"> 
       <%= card.short_desc %> 
       </span>
        
 <% end %>


</body>
</html>
