/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require cards
 *= require font-awesome
 *= require_self
 */

 @import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
 .navbar-inverse{
 	font-family: Roboto, Helvetica Neue, Arial, sans-serif;
 	background: #434a54;
 	border-bottom-color: #434a54;
 	color:white;
 }
 .navbar-inverse .navbar-brand {
 	color: #f5f7fa;
 }

 .navbar-brand strong{
 	letter-spacing: 2px;
 }

 .navbar-inverse .navbar-nav>li>a {
 	color: #999;
 }

 .main-modal-image{
 	height: 300px;
 	width: 100%;
 }

 .main-modal-image h3{
 	color:#fff;
 	text-align: center;
 }
 .main-modal-image h3{
 	color:#fff;
 	text-align: center;
 }

.btn-warning{
	background-color: #fc6e51; 
	border-color: #e9573f;
}
.btn-warning:hover, .btn-warning:active{
	background-color: #e9573f; 
	border-color: #e9573f;
}
