<div class="container-fluid" id="footer">
  <div class="container">
    <div class="row link-border" >
      <div class="col-md-6">
       <a href="http://www.envisioning.io/"> Envisioning.io </a>
       .
       <a href="https://www.github.com/envisioning/futurekit/"><i class="fa fa-github"></i> Github </a>
       .
       <a href="https://trello.com/b/NmGZ04c1/futurekit"> Trello: Development Backlog </a>
       .
       <a href="https://www.facebook.com/groups/envisioningtech/"><i class="fa fa-facebook"></i> Envisioning Group </a>
      </div>
      <div class="col-md-6 text-right">
       <p>&copy; Copyright 2014 - 2037</p>
     
      </div>
     
    </div>
  </div>
</div>