  <aside>
    <div id="sidebar">
      <div class="col-md-12">
        <br>
        <ul class="nav nav-pills nav-stacked">
       	<% Category.all.each do |cat| %>
        	<li><a href="/categories/<%= cat.id %>"><%= cat.name %></a></li>
        <% end %>
        </ul>
      </div>
    </div>
  </aside>